.name {
  margin-left: 0.0976rem;
  margin-right: calc((100vw - 2rem) / 2);
  width: 1rem;
  height: 0.2rem;
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 510;
  font-size: 0.16rem;
  line-height: 0.19rem;
  /* identical to box height */
  font-feature-settings: "pnum" on, "lnum" on;
  color: #262626;
}

.id {
  margin-right: 0rem;
  width: 0.97rem;
  height: 0.19rem;
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 510;
  font-size: 0.16rem;
  line-height: 0.19rem;
  /* identical to box height */
  font-feature-settings: "pnum" on, "lnum" on;
}
