.container {
  background: linear-gradient(180deg, #fff8f2 0%, #fef0be 43.23%, #edc2fe 100%);
  height: 100vh;
  weight: 100vw;
}

.top {
  position: relative;
  top: 0.4rem;
}

.item-icon {
  bottom: 1rem;
}

.find-img {
  position: relative;
  top: 0.6rem;
  height: 1.9099rem;
}

.find-button {
  width: 2.81rem;
  height: 0.51rem;
  position: fixed;
  left: 0.47rem;
  top: 1rem;
}

.find-list {
  width: 3.58rem;
  height: 3.8rem;
  top: 1.3rem;
  display: flex;
  flex-direction: column;
  position: fixed;
}

.white {
  margin-bottom: 1rem;
}

.host-yellow {
  width: 3.4rem;
  height: 0.74rem;
  position: relative;
  top: 0.7rem;
  background: #7b60c4;
  border-radius: 0.2rem;
}

.yellow-title {
  /* position: absolute; */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.2rem;
  line-height: 0.24rem;
  color: #ffffff;
  margin-left: 0.25rem;
  margin-top: 0.12rem;
}

.yellow-desc {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.14rem;
  line-height: 0.17rem;
  /* identical to box height */
  color: #ffffff;
  margin-left: 0.25rem;
  margin-top: 0.08rem;
}

.campaign-tabs {
  position: relative;
  top: 1.15rem;
}

.schedule-list {
  position: relative;
  top: 1.3rem;
  left: 0.1901rem;
  width: 3.8rem;
  height: 2.6rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
}
