.container {
  background: linear-gradient(180deg, #fff8f2 0%, #fef0be 43.23%, #edc2fe 100%);
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.top {
  position: relative;
  top: 0.3rem;
  margin: 0.1rem;
}

.item-icon {
  bottom: 1rem;
}

.find-img {
  position: relative;
  margin-top: 0.25rem;
  /* margin-bottom: 0.1rem; */
  height: 1.9099rem;
}

.white {
  margin-bottom: 1rem;
}

.host-yellow {
  width: 3.4rem;
  min-height: 0.74rem;
  margin-top: 0.15rem;
  margin-bottom: 0.1rem;
  position: relative;
  background: #7b60c4;
  border-radius: 0.2rem;
}

.yellow-title {
  /* position: absolute; */

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.2rem;
  line-height: 0.24rem;
  color: #ffffff;
  margin-left: 0.25rem;
  margin-top: 0.12rem;
}

.yellow-desc {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.14rem;
  line-height: 0.17rem;
  /* identical to box height */
  color: #ffffff;
  margin-left: 0.25rem;
  margin-top: 0.08rem;
}

.campaign-tabs {
  position: relative;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.schedule-list {
  position: relative;
  align-items: center;
  width: 3.8rem;
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
  margin-top: 0.1rem;
  padding-bottom: 0.8rem;
}
