.button {
  width: 2.75rem;
  height: 0.6rem;
  background: rgba(123, 97, 197, 0.9);
  border-radius: 0.38rem;
  font-size: 0.2rem;
  line-height: 0.30rem;
  color: #ffffff;
  margin-bottom: 0.125rem;
  margin-top: 0.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
