.wrapper {
  width: 100vw;
  height: 100vh;

  background: linear-gradient(180deg, #fff8f2 0%, #fef0be 43.23%, #edc2fe 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  padding-bottom: 0.8rem;
}

.top {
  display: flex !important;
  width: 100%;
}

.rules {
  width: 3.4rem;
  height: 0.8352rem;
  position: relative;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;

  background: linear-gradient(
    95.34deg,
    rgba(255, 255, 255, 0.8) 19.94%,
    rgba(255, 255, 255, 0.48) 89.63%
  );
  box-shadow: 0.02rem 0.06rem 0.11rem -0.06rem rgba(120, 61, 140, 0.25);
  backdrop-filter: blur(0.02rem);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 0.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.rule-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.16rem;
  line-height: 0.19rem;
  margin-top: 0.1507rem;
  margin-left: 0.1708rem;

  /* identical to box height */
  color: #7b60c4;
}

.rule-desc {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.14rem;
  line-height: 0.17rem;
  margin-left: 0.1708rem;
  margin-right: 0.1rem;
  margin-top: 0.02rem;
  margin-bottom: 0.02rem;

  overflow-y: auto;
  /* identical to box height */

  color: #262626;
}

.input {
  position: relative;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  width: 2.8412rem;
  height: 2.5174rem;
  background: linear-gradient(
    95.34deg,
    rgba(255, 255, 255, 0.8) 19.94%,
    rgba(255, 255, 255, 0.48) 89.63%
  );
  box-shadow: 0.02rem 0.06rem 0.11rem -0.06rem rgba(120, 61, 140, 0.25);
  backdrop-filter: blur(0.02rem);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 0.2rem;
}

.textarea {
  padding: 0.1rem 0.1rem 0.1rem 0.1rem;
  width: 100%;
  font-size: 0.16rem;
  height: 2.14rem;
  border: 0rem;
  background: transparent;
  /* box-shadow: 0.02rem 0.06rem 0.11rem -0.06rem rgba(120, 61, 140, 0.25);
    backdrop-filter: blur(0.02rem); */
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 0.2rem;
  resize: none;
}
.textarea:focus {
  outline: none;
}
.divide {
  margin-top: -0.2rem;
  background: #a0a0a0;
  border: 0.01rem solid #cacaca;
}
.upload {
  width: 0.3rem;
  height: 0.3rem;
  position: fixed;
  left: 0.55rem;
  top: 4.05rem;
  background: linear-gradient(180deg, #7b61c5 0%, #fd93ff 100%);
}

.upload-img {
  display: flex;
  margin-left: 0.5588rem;
  margin-top: 0.072rem;
}
.yuyin-img {
  display: flex;
  margin-left: 2.02rem;
  margin-top: -0.218rem;
}

.btn {
  position: relative;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  width: 1.15rem !important;
  height: 0.35rem !important;
}

.preview {
  display: flex;
  position: fixed;
  left: 0.55rem;
  top: 4.91rem;
  width: 3.4rem;
  flex-wrap: wrap;
}

.previewItem {
  flex-shrink: 0;
  width: 0.95rem;
  height: 0.61rem;
  margin-right: 0.18rem;
}
