.wrapper{
    width: 3.4rem;
    height: 0.32rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center
}

.input {
    width: 3.4rem;
    height: 0.32rem;
    font-size: 0.16rem;
    background: rgba(255, 255, 255, 0.5);
    border: 0.01rem solid #7B60C4;
    border-radius: 0.1rem;
}

.search {
    position: relative;
    right: 0.258rem;
    top: 0.06rem;
    width: 0.202rem;
    height: 0.202rem;
}