.bg {
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #FFF8F2 0%, #FEF0BE 43.23%, #EDC2FE 100%);
    width: 100vw;
    height: 100vh;
}

.wrapper-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.top-nav {
    margin-top: .43rem;
    display: flex;
    width: 100%;
    justify-content: center;
    position:relative;
    margin-bottom: .31rem;
}

.title{
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 700;
    font-size: .24rem;
    color: #3F3F3F;
    vertical-align: bottom;
}

.back{
    display: flex;
    position: absolute;
    left:.23rem;
    top:-0.05rem;
    width: .4rem;
    height: .4rem;
}


.calendar-wrapper{
    width: 3.4rem;
    background: linear-gradient(95.34deg, rgba(255, 255, 255, 0.8) 19.94%, rgba(255, 255, 255, 0.48) 89.63%);
    box-shadow: 2px 6px 11px -6px rgba(120, 61, 140, 0.25);
    backdrop-filter: blur(2px);
    border-radius: .2rem;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .29rem .36rem;
}

.month{
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 700;
    font-size: .24rem;
    line-height: .29rem;
    color: #8870CA;
}
.actions,.actions>div{
    display: flex;
    align-items: center;
}
.left{
    margin-right: .46rem;
}

.days{
    display: flex;
    align-items: center;
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 400;
    font-size: .14rem;
    line-height: .17rem;
    padding: 0 .3rem;
    text-transform: capitalize;
    color: #262626;
}

.days div{
    flex:1;
    display: flex;
    justify-content: center;
}

.day-container{
    padding-bottom: .25rem;
}   

.line{
    display: flex;
    justify-content: space-between;
    margin: .05rem 0;
    padding: 0 .3rem;
}

.day{
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 400;
    font-size: .14rem;
    line-height: .17rem;
    /* identical to box height */
    text-transform: capitalize;
    color: #262626;
    width: .3rem;
    height: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all .3s;
    border-radius: 50%;
}

.line :first-child,.line :last-child{
    color: #8870CA;
}

.active{
    background: #8870CA;
    color:white !important;
}

.current{
    border: 1px solid #8870CA;
}


.info-wrapper{
    width: 3.4rem;
    display: flex;
    align-items: center;
    background: linear-gradient(95.34deg, rgba(255, 255, 255, 0.8) 19.94%, rgba(255, 255, 255, 0.48) 89.63%);
    box-shadow: 2px 6px 11px -6px rgba(120, 61, 140, 0.25);
    backdrop-filter: blur(2px);
    border-radius: .2rem;
    margin-top: .18rem;
    padding: .07rem .19rem;
}

.left-date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: .447rem;
    height: .665rem;
    background: #8870CA;
    border-radius: .266rem;

    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 600;
    font-size: .17rem;
    line-height: .2rem;
    letter-spacing: -0.408px;
    color: #FFFFFF;
}
.right-info{
    flex:1;
    margin-left: .25rem;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: .14rem;
    line-height: .17rem;
    color: #000000;
}

.info{
    line-break: loose;
}

.button{
    background: #8870CA;
    box-shadow: 2px 6px 11px -6px rgba(120, 61, 140, 0.25);
    backdrop-filter: blur(2px);
    width: 3.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: .41rem;
    margin-top: .18rem;
    border-radius: .2rem;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 600;
    font-size: .17rem;
    line-height: .2rem;
    letter-spacing: -0.408px;
    text-transform: capitalize;
    color: #FFFFFF;
}