.bg {
  position: relative;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    #fdfbc2 0%,
    rgba(207, 112, 213, 0.61) 100%
  );
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.outer {
  position: relative;
  width: 3.4rem;
  top: 0.45rem;
  background: #ffffff;
  border-radius: 0.2rem;
  box-sizing: border-box;
  padding-top: 0.1rem;
  padding-left: 0.28rem;
  padding-right: 0.28rem;
  padding-bottom: 0.1rem;
  margin-bottom: 1rem;
}
